In [2]:
import gdown
import pandas as pd
import os
file_id = "1sQJs53Qk3v35YnX40UfqWrSWQIcatykS"
url = f"https://drive.google.com/uc?id={file_id}"
output = "US_Accidents.csv"
if not os.path.exists(output):
    gdown.download(url, output, quiet=False)
    print("Downloaded from Google Drive")
else:
    print("File already exists locally")
    
df = pd.read_csv(output)
df.head()

File already exists locally

C:\Users\polep\AppData\Local\Temp\ipykernel_22124\707649353.py:13: DtypeWarning: Columns (37,38,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(output)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [ ]:
1.What is the distribution of accident severity levels?

In [16]:
import pandas as pd
severity_counts = df['Severity'].value_counts().sort_index() #Calculate counts and percentages of severity levels
severity_percentages = round((severity_counts / severity_counts.sum()) * 100, 2)
severity_distribution = pd.DataFrame({  # Combine into a DataFrame for clarity
    "Count": severity_counts,
    "Percentage": severity_percentages
})
print("\nAccident Severity Distribution:")
print(severity_distribution)

Accident Severity Distribution:
    Count  Percentage
1   38254        5.36
2  415285       58.22
3  258245       36.20
4    1527        0.21

In [ ]:
2.How is the accident frequency distributed by hour of the day?

In [15]:
import pandas as pd
df['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce') # Ensure datetime column is parsed correctly
df['Hour'] = df['Start_Time'].dt.hour # Extract hour of day
hourly_counts = df['Hour'].value_counts().sort_index() # Accident frequency by hour
hourly_percentages = round((hourly_counts / hourly_counts.sum()) * 100, 2)
hourly_distribution = pd.DataFrame({  # Combine into DataFrame
    "Count": hourly_counts,
    "Percentage": hourly_percentages
})
print("\nAccident Frequency by Hour of the Day:")
print(hourly_distribution)

Accident Frequency by Hour of the Day:
    Count  Percentage
0    5763        0.81
1    4514        0.63
2    5229        0.73
3    4616        0.65
4   15189        2.13
5   19469        2.73
6   36617        5.13
7   60961        8.55
8   67152        9.41
9   44480        6.24
10  41309        5.79
11  40435        5.67
12  33523        4.70
13  31613        4.43
14  34431        4.83
15  35602        4.99
16  45864        6.43
17  48282        6.77
18  40961        5.74
19  33072        4.64
20  26829        3.76
21  17773        2.49
22  13537        1.90
23   6090        0.85

In [ ]:
3.Which days of the week have the highest number of accidents?

In [19]:
import pandas as pd
df['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce') # Ensure datetime column is parsed correctly
df['DayOfWeek'] = df['Start_Time'].dt.day_name() # Extract day of week (0=Monday, 6=Sunday)
day_counts = df['DayOfWeek'].value_counts()     # Accident frequency by day of the week
day_percentages = round((day_counts / day_counts.sum()) * 100, 2)
day_distribution = pd.DataFrame({  # Combine into DataFrame
    "Count": day_counts, 
    "Percentage": day_percentages
})
print("\nAccident Frequency by Day of the Week:")
print(day_distribution)

Accident Frequency by Day of the Week:
            Count  Percentage
Thursday   130157       18.25
Wednesday  129657       18.18
Tuesday    127950       17.94
Friday     126352       17.71
Monday     119323       16.73
Saturday    42259        5.92
Sunday      37613        5.27

In [ ]:
4.What are the most common weather conditions during accidents?

In [22]:
weather_col = "Weather_Condition"                                     # Column storing weather info
weather_counts = df[weather_col].value_counts().head(10)              # Count top 10 weather conditions
weather_percentages = round((weather_counts / df.shape[0]) * 100, 2)  # Calculate percentages (of all accidents)
weather_distribution = pd.DataFrame({                                # Combine into DataFrame
    "Count": weather_counts, 
    "Percentage": weather_percentages
})
print("\nTop 10 Weather Conditions During Accidents:")                # Print title
print(weather_distribution)                                           # Display table

Top 10 Weather Conditions During Accidents:
                   Count  Percentage
Clear             208905       29.29
Fair              101760       14.27
Mostly Cloudy      96605       13.54
Overcast           80265       11.25
Partly Cloudy      67707        9.49
Scattered Clouds   47595        6.67
Light Rain         28492        3.99
Cloudy             27458        3.85
Haze                6864        0.96
Rain                6132        0.86

In [ ]:
5.How to identify columns with missing data and their missing percentage?

In [28]:
import pandas as pd  # Import pandas library

missing_counts = df.isnull().sum()  # Count of missing values per column

missing_percentage = (missing_counts / len(df)) * 100  # Calculate percentage of missing values per column

missing_data = pd.DataFrame({       # Combine counts and percentage into a DataFrame
    "Missing Count": missing_counts,  # Number of missing values
    "Missing Percentage": missing_percentage  # Percentage of missing values
})

missing_data = missing_data[missing_data["Missing Count"] > 0]  # Keep only columns with missing data

print(missing_data)  # Display the result

                       Missing Count  Missing Percentage
End_Lat                       713311          100.000000
End_Lng                       713311          100.000000
Street                          1614            0.226269
City                              22            0.003084
Zipcode                           76            0.010655
Timezone                         225            0.031543
Airport_Code                     677            0.094910
Weather_Timestamp               6534            0.916010
Temperature(F)                 10907            1.529067
Wind_Chill(F)                 454629           63.735033
Humidity(%)                    11895            1.667576
Pressure(in)                    8590            1.204243
Visibility(mi)                 14305            2.005437
Wind_Direction                  8163            1.144382
Wind_Speed(mph)                94991           13.316912
Precipitation(in)             465433           65.249660
Weather_Condition              13560            1.900994
Stop                               1            0.000140
Traffic_Calming                    1            0.000140
Traffic_Signal                     1            0.000140
Turning_Loop                       1            0.000140
Sunrise_Sunset                  1437            0.201455
Civil_Twilight                  1437            0.201455
Nautical_Twilight               1437            0.201455
Astronomical_Twilight           1437            0.201455

In [ ]:
6.How to impute missing numerical values with median?

In [38]:
import pandas as pd  # Import pandas library
num_cols = df.select_dtypes(include=['float64', 'int64']).columns  # Detect all numeric columns
# Impute missing values in all numerical columns with median
for col in num_cols:  # Loop through each numerical column
    df[col].fillna(df[col].median(), inplace=True)  # Replace NaNs with median
print(df[num_cols].isnull().sum())  # Verify there are no more missing values

Severity                  0
Start_Lat                 0
Start_Lng                 0
End_Lat              713311
End_Lng              713311
Distance(mi)              0
Temperature(F)            0
Wind_Chill(F)             0
Humidity(%)               0
Pressure(in)              0
Visibility(mi)            0
Wind_Speed(mph)           0
Precipitation(in)         0
Hour                      0
hour                      0
dtype: int64

In [ ]:
7.How to impute missing categorical values with the mode?

In [40]:
import pandas as pd  # Import pandas library
# Select only categorical columns
cat_cols = df.select_dtypes(include=['object']).columns  # Detect all object-type columns (categorical)
# Impute missing values in all categorical columns with mode
for col in cat_cols:  # Loop through each categorical column
    mode_value = df[col].mode()[0]  # Find the most frequent value (mode)
    df[col].fillna(mode_value, inplace=True)  # Replace NaNs with mode
# Verify that there are no more missing values in categorical columns
print(df[cat_cols].isnull().sum())  # Should show 0 for all categorical columns

ID                       0
Source                   0
End_Time                 0
Description              0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Wind_Direction           0
Weather_Condition        0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
DayOfWeek                0
day_of_week              0
dtype: int64

In [ ]:
8.How to label encode a categorical column?

In [48]:
import pandas as pd  # Import pandas library
from sklearn.preprocessing import LabelEncoder  # Import LabelEncoder
# Suppose we want to label encode the column 'Weather_Condition'
le = LabelEncoder()  # Create a LabelEncoder object
df['Weather_Condition'] = le.fit_transform(df['Weather_Condition'])  # Encode categories as numbers
print(df['Weather_Condition'].head())  # Display the first few rows to check encoding

0    42
1    42
2    61
3    58
4    58
Name: Weather_Condition, dtype: int64

In [ ]:
9.How to one-hot encode a categorical column?

In [53]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)
encoded = encoder.fit_transform(df[['Weather_Condition']])
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(['Weather_Condition']))
df_final = pd.concat([df, encoded_df], axis=1).drop(columns=['Weather_Condition'])
print(df_final)

   Weather_Condition_Clear  Weather_Condition_Fog  Weather_Condition_Rain
0                      1.0                    0.0                     0.0
1                      0.0                    0.0                     1.0
2                      1.0                    0.0                     0.0
3                      0.0                    1.0                     0.0
4                      0.0                    0.0                     1.0