In [1]:
import gdown
import pandas as pd
import os
file_id = "1sQJs53Qk3v35YnX40UfqWrSWQIcatykS"
url = f"https://drive.google.com/uc?id={file_id}"
output = "US_Accidents.csv"
if not os.path.exists(output):
    gdown.download(url, output, quiet=False)
    print("Downloaded from Google Drive")
else:
    print("File already exists locally")
    
df = pd.read_csv(output)

File already exists locally

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\1160782198.py:13: DtypeWarning: Columns (37,38,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(output)

In [2]:
df.head(10)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day
5,A-6,Source2,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day
6,A-7,Source2,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,NaN,NaN,0.00,...,False,False,False,False,False,False,Day,Day,Day,Day
7,A-8,Source2,3,2016-02-08 07:59:58,2016-02-08 08:29:58,39.770382,-84.194901,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day
8,A-9,Source2,2,2016-02-08 08:00:40,2016-02-08 08:30:40,39.778061,-84.172005,NaN,NaN,0.00,...,False,False,False,False,False,False,Day,Day,Day,Day
9,A-10,Source2,3,2016-02-08 08:10:04,2016-02-08 08:40:04,40.100590,-82.925194,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 713311 entries, 0 to 713310
Data columns (total 46 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     713311 non-null  object
 1   Source                 713311 non-null  object
 2   Severity               713311 non-null  int64
 3   Start_Time             713311 non-null  object
 4   End_Time               713311 non-null  object
 5   Start_Lat              713311 non-null  float64
 6   Start_Lng              713311 non-null  float64
 7   End_Lat                0 non-null       float64
 8   End_Lng                0 non-null       float64
 9   Distance(mi)           713311 non-null  float64
 10  Description            713311 non-null  object
 11  Street                 711697 non-null  object
 12  City                   713289 non-null  object
 13  County                 713311 non-null  object
 14  State                  713311 non-null  object
 15  Zipcode                713235 non-null  object
 16  Country                713311 non-null  object
 17  Timezone               713086 non-null  object
 18  Airport_Code           712634 non-null  object
 19  Weather_Timestamp      706777 non-null  object
 20  Temperature(F)         702404 non-null  float64
 21  Wind_Chill(F)          258682 non-null  float64
 22  Humidity(%)            701416 non-null  float64
 23  Pressure(in)           704721 non-null  float64
 24  Visibility(mi)         699006 non-null  float64
 25  Wind_Direction         705148 non-null  object
 26  Wind_Speed(mph)        618320 non-null  float64
 27  Precipitation(in)      247878 non-null  float64
 28  Weather_Condition      699751 non-null  object
 29  Amenity                713311 non-null  bool
 30  Bump                   713311 non-null  bool
 31  Crossing               713311 non-null  bool
 32  Give_Way               713311 non-null  bool
 33  Junction               713311 non-null  bool
 34  No_Exit                713311 non-null  bool
 35  Railway                713311 non-null  bool
 36  Roundabout             713311 non-null  bool
 37  Station                713311 non-null  object
 38  Stop                   713310 non-null  object
 39  Traffic_Calming        713310 non-null  object
 40  Traffic_Signal         713310 non-null  object
 41  Turning_Loop           713310 non-null  object
 42  Sunrise_Sunset         711874 non-null  object
 43  Civil_Twilight         711874 non-null  object
 44  Nautical_Twilight      711874 non-null  object
 45  Astronomical_Twilight  711874 non-null  object
dtypes: bool(8), float64(12), int64(1), object(25)
memory usage: 212.2+ MB

In [4]:
df.dtypes

ID                        object
Source                    object
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Street                    object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                   object
Stop                      object
Traffic_Calming           object
Traffic_Signal            object
Turning_Loop              object
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [5]:
df.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,713311.000000,713311.000000,713311.000000,0.0,0.0,713311.000000,702404.000000,258682.000000,701416.000000,704721.000000,699006.000000,618320.000000,247878.000000
mean,2.312690,35.969291,-95.715744,NaN,NaN,0.125561,65.306759,56.739844,64.672915,29.824624,9.246654,8.400710,0.020727
std,0.571362,4.950568,17.738515,NaN,NaN,1.238313,17.156282,23.788183,21.838251,0.643500,2.138017,5.420696,0.287218
min,1.000000,24.554800,-124.497414,NaN,NaN,0.000000,-77.800000,-50.000000,1.000000,0.120000,0.000000,0.000000,0.000000
25%,2.000000,32.851013,-117.806824,NaN,NaN,0.000000,55.000000,37.100000,49.000000,29.800000,10.000000,5.000000,0.000000
50%,2.000000,34.922089,-90.306618,NaN,NaN,0.000000,67.300000,62.000000,66.000000,29.960000,10.000000,8.000000,0.000000
75%,3.000000,40.114705,-81.275604,NaN,NaN,0.010000,78.000000,76.000000,83.000000,30.080000,10.000000,11.500000,0.000000
max,4.000000,48.997910,-68.283783,NaN,NaN,336.570007,167.000000,115.000000,100.000000,58.100000,111.000000,822.800000,36.470000

In [ ]:
Missing Values

In [7]:
df.isnull().sum()

ID                            0
Source                        0
Severity                      0
Start_Time                    0
End_Time                      0
Start_Lat                     0
Start_Lng                     0
End_Lat                  713311
End_Lng                  713311
Distance(mi)                  0
Description                   0
Street                     1614
City                         22
County                        0
State                         0
Zipcode                      76
Country                       0
Timezone                    225
Airport_Code                677
Weather_Timestamp          6534
Temperature(F)            10907
Wind_Chill(F)            454629
Humidity(%)               11895
Pressure(in)               8590
Visibility(mi)            14305
Wind_Direction             8163
Wind_Speed(mph)           94991
Precipitation(in)        465433
Weather_Condition         13560
Amenity                       0
Bump                          0
Crossing                      0
Give_Way                      0
Junction                      0
No_Exit                       0
Railway                       0
Roundabout                    0
Station                       0
Stop                          1
Traffic_Calming               1
Traffic_Signal                1
Turning_Loop                  1
Sunrise_Sunset             1437
Civil_Twilight             1437
Nautical_Twilight          1437
Astronomical_Twilight      1437
dtype: int64

In [8]:
(df.isnull().sum()/len(df))*100  # percentage of missing values

ID                         0.000000
Source                     0.000000
Severity                   0.000000
Start_Time                 0.000000
End_Time                   0.000000
Start_Lat                  0.000000
Start_Lng                  0.000000
End_Lat                  100.000000
End_Lng                  100.000000
Distance(mi)               0.000000
Description                0.000000
Street                     0.226269
City                       0.003084
County                     0.000000
State                      0.000000
Zipcode                    0.010655
Country                    0.000000
Timezone                   0.031543
Airport_Code               0.094910
Weather_Timestamp          0.916010
Temperature(F)             1.529067
Wind_Chill(F)             63.735033
Humidity(%)                1.667576
Pressure(in)               1.204243
Visibility(mi)             2.005437
Wind_Direction             1.144382
Wind_Speed(mph)           13.316912
Precipitation(in)         65.249660
Weather_Condition          1.900994
Amenity                    0.000000
Bump                       0.000000
Crossing                   0.000000
Give_Way                   0.000000
Junction                   0.000000
No_Exit                    0.000000
Railway                    0.000000
Roundabout                 0.000000
Station                    0.000000
Stop                       0.000140
Traffic_Calming            0.000140
Traffic_Signal             0.000140
Turning_Loop               0.000140
Sunrise_Sunset             0.201455
Civil_Twilight             0.201455
Nautical_Twilight          0.201455
Astronomical_Twilight      0.201455
dtype: float64

In [ ]:
Duplicates

In [9]:
df.duplicated().sum()  # to check duplicates

0

In [10]:
df.duplicated(subset=['Start_Time', 'Start_Lat', 'Start_Lng']).sum() # duplicates based on start time , lng, lat.

1342

In [11]:
df = df.drop_duplicates(subset=['Start_Time', 'Start_Lat', 'Start_Lng'], keep='first')   # drop the duplicates

In [12]:
df.isnull().sum().sort_values(ascending=False).head(15)

End_Lat              711969
End_Lng              711969
Precipitation(in)    464968
Wind_Chill(F)        454182
Wind_Speed(mph)       94891
Visibility(mi)        14286
Weather_Condition     13544
Humidity(%)           11873
Temperature(F)        10886
Pressure(in)           8579
Wind_Direction         8149
Weather_Timestamp      6527
Street                 1608
Nautical_Twilight      1432
Civil_Twilight         1432
dtype: int64

In [13]:
threshold = 0.5  # 50%
missing_ratio = df.isna().mean()
cols_to_drop = missing_ratio[missing_ratio > threshold].index
df.drop(columns=cols_to_drop, inplace=True)
print(f"Dropped columns with >50% missing: {list(cols_to_drop)}\n")

Dropped columns with >50% missing: ['End_Lat', 'End_Lng', 'Wind_Chill(F)', 'Precipitation(in)']

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\3993573210.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=cols_to_drop, inplace=True)

In [14]:
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in numerical_cols:
    if df[col].isna().sum() > 0:
        median_val = df[col].median()
        df[col] = df[col].fillna(median_val)  # assign back to avoid warning
        print(f"Filled missing numerical column '{col}' with median: {median_val}")

Filled missing numerical column 'Temperature(F)' with median: 67.3
Filled missing numerical column 'Humidity(%)' with median: 66.0
Filled missing numerical column 'Pressure(in)' with median: 29.96
Filled missing numerical column 'Visibility(mi)' with median: 10.0
Filled missing numerical column 'Wind_Speed(mph)' with median: 8.0

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\1263411128.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(median_val)  # assign back to avoid warning

In [15]:
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    if df[col].isna().sum() > 0:
        mode_val = df[col].mode()[0]
        df[col] = df[col].fillna(mode_val)  # assign back to avoid warning
        print(f"Filled missing categorical column '{col}' with mode: {mode_val}")

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Street' with mode: I-5 N

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'City' with mode: Houston

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Zipcode' with mode: 91706

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Timezone' with mode: US/Eastern

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Airport_Code' with mode: KMCJ

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Weather_Timestamp' with mode: 2022-03-13 01:53:00

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Wind_Direction' with mode: Calm

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Weather_Condition' with mode: Clear

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Stop' with mode: False

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Traffic_Calming' with mode: False

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Traffic_Signal' with mode: False

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Turning_Loop' with mode: False

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Sunrise_Sunset' with mode: Day

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Civil_Twilight' with mode: Day

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

Filled missing categorical column 'Nautical_Twilight' with mode: Day
Filled missing categorical column 'Astronomical_Twilight' with mode: Day

C:\Users\polep\AppData\Local\Temp\ipykernel_14692\2784702285.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(mode_val)  # assign back to avoid warning

In [16]:
print("\nMissing values after cleaning:")
print(df.isna().sum())

Missing values after cleaning:
ID                       0
Source                   0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
Distance(mi)             0
Description              0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64